.wrapper {
    width: 800px;
    margin: 0 auto;
    font-family: "Arial";
}

.left {
    display: flex;
    gap: 30px
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
}

.picture-round {
    width: 160px;   
    height: 160px;
    border-radius: 100px;
    box-shadow: 0 0 25px 0 purple;
}

h1, h2 {
    margin: 0;
    font-size: 22px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
}

hr {
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #C2C0C0;
}

/* .text-about {
    margin-top: 20px;
} */

.table-info {
    margin-top: 40px;
    display: flex;
    border: 1px solid #5A9645;
    border-radius: 7px;
}

.table-left,
.table-right {
    width: 50%;
}

.table-left {
    border-right: 1px solid #5A9645;
}

.table-right {
    border-left: 1px solid #5A9645;
}

.table-header {
    border-bottom: 1px solid #5A9645;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    color: #5A9645;
}

.table-content {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.table-list {
    width: fit-content;
    margin: 0;
}

.table-link {
    color: black;
    text-decoration: none;
}

.table-link:hover {
    color: #5A9645;
}

.title {
    background: #5A9645;
    border-radius: 7px;
    padding: 10px;
    margin-top: 25px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.tech-stack { 
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.tech-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: #5A9645;
    border-radius: 7px;
    padding: 10px 30px;
    transition: transform 0.5s ease;
    width: 50px;
    height: 90px;
}

.picture-crop {
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.tech-picture:hover {
    cursor: pointer;
    box-shadow: 0 4px 20px 0 #5A9645;
    transform: scale(1.15);
}

.feedback {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.feedback-div {
    display: flex;
    gap: 20px;
}

.feedback-input {
    flex-grow: 1;
    border-radius: 5px;
    border: 1px solid #C1C1C1;
    padding: 9px 14px;
    font-weight: 400;
    font-size: 14px;
}

.feedback-div {
    margin-top: 20px;
    display: flex;
}

.feedback-textarea {
    width: 800px;
    border-radius: 5px;
    border: 1px solid #C1C1C1;
    padding: 9px 14px;
    font-weight: 400;
    font-size: 14px;
}

.button-div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background: #5A9645;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    bottom: 0;
    transition: box-shadow 0.5s ease;
    width: 125px;
    height: 33px;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 0 #5A9645;
}
