.wrapper {
    width: 800px;
    margin: 0 auto;
}

.left {
    display: flex;
    gap: 30px
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
}

h1, h2 {
    margin: 0;
    font-size: 22px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
}

hr {
    margin-top: 30px;
    border: 1px solid #C2C0C0;
}

.text-about {
    margin-top: 20px;
}

.table-info {
    margin-top: 40px;
    display: flex;
    border: 1px solid #5A9645;
    border-radius: 7px;
}

.table-left,
.table-right {
    width: 50%;
}

.table-left {
    border-right: 1px solid #5A9645;
}

.table-right {
    border-left: 1px solid #5A9645;
}

.table-header {
    border-bottom: 1px solid #5A9645;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    color: #5A9645;
}

.table-content {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.table-list {
    width: fit-content;
    margin: 0;
}

.table-link {
    color: black;
    text-decoration: none;
}

.table-link:hover {
    color: #5A9645;
}

.title {
    background: #5A9645;
    border-radius: 7px;
    padding: 10px;
    margin-top: 70px;
    text-align: center;
    color: white;
    font-weight: 700;
}

